body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(YES.JPEG);
    background-size: cover;
    transition: background 0.3s, color 0.3s;
}
.container {
     width: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    color: #fff;
    height: 470px;
    backdrop-filter: blur(600px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 30px 50px;
    transition: background 0.4s;
}
input {
    width: 100%;
    margin: 10px -10px;
    background: transparent;
    outline: none;
    border: 3px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 15px;
}
input::placeholder{
    color: #fff;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    text-decoration: underline;
}
button {
    border: 10px solid transparent;
    background: transparent;
    width: 100%;
    border-radius: 40px;
    margin-top: 10px;
    cursor: pointer;
    height: 45px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px #333;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    letter-spacing: 1px;
}
button:hover{
    background: lightslategray;
    font-weight: bolder;
}
.show-password{
 display: flex;
 align-items: center;
 margin-top: 0px;   
}
.show-password input{
    accent-color: #ddd;
}
small{
    position: relative;
    align-items: start;

}