body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(YES.JPEG);
    background-size: cover;
    transition: background 0.3s, color 0.3s;
}
.container {
     width: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    color: #fff;
    height: 400px;
    backdrop-filter: blur(600px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 30px 50px;
    transition: background 0.4s;
    text-align: center;
}
input {
    width: 100%;
    margin: 10px -10px;
    background: transparent;
    outline: none;
    border: 3px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 15px;
}
input::placeholder{
    color: #fff;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
button {
    border: 10px solid transparent;
    background: transparent;
    width: 100%;
    border-radius: 40px;
    margin-top: 10px;
    cursor: pointer;
    height: 45px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px #333;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    letter-spacing: 1px;
}
button:hover{
    background: lightslategray;
    font-weight: bolder;
}

.divider{
    display: flex;
    align-items: center;
    justify-content: center;
}
.divider::before,.divider::after{
    content: '';
    flex: 1;
    border-bottom: 1px solid #aaa;
}
.divider span{
    margin: 0 10px;
}
.logos{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    gap: 28px;
    margin-top: 20px;
    cursor: pointer;
}
#ig{
    background: linear-gradient( to bottom right, #405de6,#e1306c,#fcaf45);
    border-radius: 5px;
    color: #fff;
    transition: .3s ease-in-out;
}
#ig:hover{
    scale: 1.2;
}
#fb{
    background-color: #1877f2;
    color: #fff;
    border-radius: 50%;
    transition: .3s ease-in-out;
}
#fb:hover{
    scale: 1.2;
}
#google{
    background: linear-gradient(to bottom right, #4285f4, #ea4335, #fbbc04, #34a853);
    color: #fff;
    border-radius: 5px;
    transition: .3s ease-in-out;
}
#google:hover{
    scale: 1.2;
}
#x{
    background: black;
    color: #fff;
    border-radius: 5px;
    transition: .3s ease-in-out;
}
#x:hover{
    scale: 1.2;
}
.show-password{
 display: flex;
 align-items: center;
 margin-top: 0px;   
}
.show-password input{
    accent-color: #ddd;
}