body {
    font-family: 'Inter', sans-serif;
    background-color: #f4f8fb;
    margin: 0;
    padding: 20px;
  }
  h1 {
    text-align: center;
    color: #003366;
    margin-bottom: 40px;
    text-decoration: underline;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
  }
  .card {
    background: white;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: 0.4s ease;
  }
  .card:hover{
    transform: translateY(-8px);
    background-color: #eee;
  }
  .card h2 {
    color: #0078D7;
  }
  ul {
    padding-left: 20px;
  }
  a.back {
    text-align: center;
    margin: 40px auto 0;
    background-color: #0078D7;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 8px;
  }
  a.back:hover {
    background-color: #005bb5;
  }
  button{
    text-align: center;
    margin: 40px auto;
    background-color: #0078D7;
    color: white;
    padding: 13px 20px;
    text-decoration: none;
    border-radius: 8px;
    border: none;
  }
   